modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-595071c7-2b12-4b83-bdab-08adc834c8cb"

[userenv]

[userenv.shared]
VITE_SOLANA_PUBKEY = "GtUgs8UkoT4LUVdARY7HNrzFx83QXFou5mL4cknDHSgc"
SOLANA_RPC_URL = "https://solana-devnet.core.chainstack.com/a7a8e0df62f2a5c5ff7239ca353df02e"
